<!DOCTYPE html>
<html lang="en">
	<head>
		<title>AirBnB clone</title>

		<link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.ico')}}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/3-footer.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/3-header.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/4-common.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/6-filters.css') }}">
	</head>
    <body>
		<header>
			<div id="header_logo"></div>
		</header>
		<div class="container">
			<section class="filters">
				<button>Search</button>
				<div class="locations">
					<H3>States</H3>
          				<H4>&nbsp;</H4>
					<ul class="popover">
						{% for s in states.values()|sort(attribute="name") %}
							<li><h2>{{ s.name }}</h2>
								<ul>
									{% for city in s.cities|sort(attribute="name") %}	
										<li><h4>{{ city.name }}</h4></li>
									{% endfor %}
								</ul>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="amenities">
					<H3>Amenities</H3>
          				<H4>&nbsp;</H4>
					<ul class="popover">
						{% for a in amenities.values()|sort(attribute="name") %}
							<li><h4>{{ a.name  }}</h4></li>
						{% endfor %}
					</ul>
				</div>

			</section>
		</div>
		<footer>
			<p>Holberton School</p>
		</footer>
	</body>
</html>
